{% extends 'basic/dashboard.html' %}

{% block content %}
{% load static %}


<form action="" method="POST" enctype='multipart/form-data'>
    {%  csrf_token %}
<div class='row mx-5 '>
    <div class = 'col-md-6'>
        <div class="card-body  col mx-5 my-5" >
            {% comment %} <h4>Name :</h4>{{form.name}}
            <br><br>
            <h4>Phone No :</h4>{{form.Phone_no}}
            <br><br>
            <h4>Email Id</h4>{{form.email_id}}
            <br><br>
            <br><br> {% endcomment %}
            {{form.as_p}}
            <input type="submit" name="Submit"> 
        </div>
    </div>
</div>
</form>


{% endblock %}